#score{
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    font-weight: bolder;
}


#highscore{
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    font-weight: bolder;
}
